.about-content {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.word {
  position: absolute;
  top: 50%; /* Position 50% from the top */
  transform: translateY(-50%); /* Move it up by 50% of its own height */
  text-align: center;
  font-size: 120px;
  color: white;
  font-family: Cursive, Brush Script MT;
}
