.mission-content {
  border: 0.1px solid #d8e9ef;
  background-color: #def1f7;
  font-family: "Times New Roman", Times, serif;
}

.mission {
  margin-left: auto;
  margin-bottom: 60px;
  margin-top: 15%;
  /* border: 2px solid red; */
}

.staff {
  max-width: 600px;
  height: 350px;
  overflow-y: scroll;
  background: url(img_5terre.jpg) no-repeat;
  -webkit-mask-image: linear-gradient(black, transparent);
  mask-image: linear-gradient (black, transparent);
}

.home-content {
  /* border: 2px solid red; */
  background: url("./assets/img5.jpeg") no-repeat;
  height: 48vh;
  background-size: cover;
  background-position: center;
  border-bottom-right-radius: 30% 10%;
  border-bottom-left-radius: 30% 10%;
}

.home {
  background-color: rgb(241, 207, 69);
  text-align: center;
  font-size: 40px;
  height: 60vh;
}

.home p {
  padding: 40px;
  color: white;
  font-family: Arial Narrow, sans-serif;
}
