.mission-content {
  border: 0.1px solid #d8e9ef;
  background-color: #def1f7;
  font-family: "Times New Roman", Times, serif;
}

.mission {
  margin-left: auto;
  margin-bottom: 60px;
  margin-top: 15%;
  /* border: 2px solid red; */
}

.staff {
    max-width: 600px;
  height: 350px;
  overflow-y: scroll;
  background: url(img_5terre.jpg) no-repeat;
  -webkit-mask-image: linear-gradient(black, transparent);
  mask-image: linear-gradient (black, transparent);
}
.about-us{
  /* border: 2px solid red; */
  background: url('./assets/SS_14.jpeg') no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.about-img-bg img{
  height: 50vh;
  width: 100%;
  object-fit: cover;
}