.mission-content {
  border: 0.1px solid #d8e9ef;
  background-color: #def1f7;
  font-family: "Times New Roman", Times, serif;
}

.mission {
  margin-left: auto;
  margin-bottom: 60px;
  margin-top: 15%;
  /* border: 2px solid red; */
}

